<h1 class="text-center">Post review for <%= @restaurant.name %></h1>

<div class="container">
  <div class="row">
    <!-- <div class="col-xs-12 col-sm-offset-3"> -->

      <!-- do not use for @review do in the form as this should be nested -->
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :content, placeholder: "Write review here" %>
        <%= f.input :rating, placeholder: "Rate 0 to 5" %>
        <%= f.submit "Post review", class: "btn btn-primary" %>
      <% end %>

    <!-- </div> -->
  </div>
</div>
